.game {
  position: relative;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin-top: 15px;
  min-height: 80vh;
  width: 84%;
  background-color: #222; }

.game-board {
  position: relative;
  margin: 0 auto;
  width: 660px;
  height: 500px;
  background-image: url(../img/game/game-background.svg);
  background-size: 660px 500px; }

#block {
  position: relative;
  margin: 0 auto;
  top: 30px;
  width: 255px;
  height: 500px; }

.flats {
  width: 30px;
  height: 30px;
  margin-left: 15px;
  margin-top: 20px;
  background-image: url(../img/game/window.svg);
  border: 1px solid #cbcbcb;
  float: left; }

.flats-shutdown {
  background-image: url(../img/game/window-inactive.svg); }

.projector {
  background-image: url(../img/game/projkt-p.png); }

.projector:active {
  background-image: url(../img/game/star_white.svg); }

.dog {
  background-image: url(../img/game/dog.png); }

.popcorn {
  background-image: url(../img/game/popcorn.png); }

.popcorn:active {
  background-image: url(../img/game/star.svg); }

.plate {
  position: relative;
  top: -50%;
  transform: translateY(-50%);
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #444;
  color: white;
  font-family: 'Varela Round', sans-serif;
  text-align: center; }

.before-start {
  display: block; }

.end,
.walk {
  display: none; }

.game-button {
  background-color: #DC810E;
  border: none;
  border-radius: 8px;
  font-size: 1.3rem;
  font-family: 'Anton', sans-serif;
  text-decoration: none;
  padding: 8px 32px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.75);
  cursor: pointer; }

#start-btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px; }

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  box-shadow: 0 0 0 0; }

#see-game {
  cursor: pointer; }

#score,
#points {
  font-family: 'Anton', sans-serif;
  font-size: 1.5rem;
  color: #DC810E; }

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  color: #999;
  font-size: 1.9em;
  font-weight: bold;
  cursor: pointer; }

.walk img {
  vertical-align: top; }

.points-counter {
  position: absolute;
  bottom: 5px;
  left: 30px;
  color: white;
  font-family: 'Varela Round', sans-serif;
  text-align: center; }

.exit-game {
  position: absolute;
  top: 15px;
  right: 20px;
  color: #999;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2em;
  font-weight: bold;
  cursor: pointer; }

/* replacement screen */
.thanks {
  position: relative;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  min-height: 40vh;
  width: 85%;
  background-color: #222;
  color: #fff; }

.thanks-text {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  font-size: 1.2rem; }

.thanks img {
  max-width: 30%;
  margin-top: 1rem; }

/* queries */
@media screen and (max-width: 576px) {
  .thanks {
    width: 83%;
    margin-top: 8px; } }
@media screen and (min-width: 577px) and (max-width: 992px) {
  .thanks {
    width: 84%;
    margin-top: 15px; }

  .thanks-text {
    font-size: 1.5rem; }

  .exit-game {
    font-size: 1.4rem; } }
@media screen and (min-width: 993px) and (max-width: 1199px) {
  .exit-game {
    font-size: 1.6rem; } }
@media screen and (min-width: 1200px) {
  .game {
    width: 85%;
    margin-top: 30px; }

  .exit-game {
    font-size: 1.9rem; } }

/*# sourceMappingURL=game.css.map */
