@mixin large {
  @media (min-width: 768px) {
    @content;
  }
}

$headerBgColorMain: #ffffff;
$headerBgBtnActiveColor:#222222;

.header {
  align-items: stretch;
  background-color: $headerBgColorMain;
  box-shadow: 0px 4px 6px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  height: 4rem; /* This dimension is crucial for entire menu */
  justify-content: flex-start;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 99;

  .nav {
    align-items: stretch;
    background-color: $headerBgColorMain;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90%;

    .logo-container {
      align-items: flex-start;
      background-color: $headerBgColorMain;
      display: flex;
      justify-content: center;
      position: relative;

      .logo {
        background-color: $headerBgColorMain;
        border-bottom-right-radius: 0.4rem;
        height: 4rem; /* This dimension is crucial for the protruding logo picture */

        @include large {
          margin: 0;
          padding: 0;
          transition: box-shadow 0.1s linear;
          height: 7rem;
        }

        &:hover {
          box-shadow: none;
        }
      }

      &:active .logo {
        /*box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 1);*/
        cursor: default;
        @include large {
          box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 1);
          cursor: context-menu;
        }
      }
    }

    .logo-container-mobile {

    }

    .menuToggle {
      display: block;
      position: fixed;

      @include large {
        display: none;
        transition: color 0.3s ease;
      };

      top: 15px;
      right: 3px;
      z-index: 0;

      .invisible-checkbox {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 28px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

        &:checked ~ .first-bar {
          transform: translate(0px, 6px);
          background: #4d4d4d;
        }

        &:checked ~ .second-bar {
          transform: translate(0, 2px);
          background: #4d4d4d;
        }

        &:checked ~ .third-bar {
          transform: translate(0, -2px);
          background: #4d4d4d;
        }

        &:checked ~ .fourth-bar {
          transform: translate(0, -6px);
          background: #4d4d4d;
        }

        &:checked ~ .menu-list {
          transform: translate(0,0);
          opacity: 1;
        }

      }

      .bar {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 4px;
        margin-left: 45px;
        /*position: relative;*/
        background: black;
        z-index: 1;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        color 1s linear;
      }

      .menu-list {
        /*border: 1px solid black;*/
        margin: 20px -4px 0 0;
        padding: 0 10px 0 10px;
        background-color: white;
        border-bottom-left-radius: 0.4rem;
        display: block;
        list-style-type: none;
        transform: translate(103%, 0);
        transition: transform 0.5s ease-in-out;

        a {
          font-family: "Varela Round", sans-serif;
          text-decoration: none;
          color: black;

          li {
            padding: 7px 0;
            font-size: 22px;
            text-align: right;
            /*background-color: white;;*/
            transition: background-color 0.5s ease, color 0.5s ease;
          }

          &:hover {
            color: #DC810E;
          }

          &:active li {
            background-color: black;
          }
        }
      }

    }

    .menu {
      align-items: stretch;
      background-color: $headerBgColorMain;
      display: none;
      @include large {
        display: flex;
        transition: color 0.3s ease;
      }
      flex-wrap: wrap;
      justify-content: center;
      list-style-type: none;
      margin: 0;
      padding: 0;

      .menu-button {
        align-items: stretch;
        background-color: $headerBgColorMain;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .menu-button-link {
          align-items: center;
          background-color: $headerBgColorMain;
          color: $headerBgBtnActiveColor;
          display: flex;
          font-weight: bold;
          justify-content: center;
          letter-spacing: 0.2rem;
          text-decoration: none;
          text-transform: uppercase;
          transition: color 1s linear;
          width: 11rem;

          p {
            border-radius: 0.2rem;
            border-bottom: 3px solid #fff;
            border-top: 3px solid #fff;
            font-family: "Varela Round", sans-serif;
            font-size: 1.2rem;
            margin: 0;
            padding: 0;
            transition: border-color 0.8s;
          }

          &:hover {
            //border-bottom: 3px solid #222222;
            background-color: $headerBgBtnActiveColor;

            p {
              color: white;
            }
          }

          &:active {
            p {
              color: #DC810E;
            }
          }
    }
   }
  }

 } /* End of .nav  */
} /* End of .header */



