@mixin desktop {
  @media (min-width: 768px) {
    @content;
  }
}

$headerBgColorMain: #ffffff;
$headerBgBtnActiveColor: #222222;
$contrastColor: #DC810E;

.header {
  align-items: stretch;
  background-color: $headerBgColorMain;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  height: 4rem; /* This dimension is crucial for entire menu */
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    background-color: $headerBgColorMain;

    .logo--mobile {
      display: flex;

      @include desktop {
        display: none;
      }
    }

    .logo--desktop {
      display: none;

      @include desktop {
        display: flex;
      }
    }

    .logo {
      position: relative;
      align-items: flex-start;
      justify-content: center;
      background-color: $headerBgColorMain;

      .logo__img--positive {
        display: none;
      }

      .logo__img--negative {
        display: block;
        background-color: blue; // tu jest problem
      }

      &:hover {
        @include desktop {
          box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75);

          .logo__img--positive {
            display: none;
          }

          .logo__img--negative {
            display: block;
            background-color: green;
            transition: background-color 0.4s ease-in-out;
          }
        }
      }

      .logo__img {
        height: 4rem;
        background-color: $headerBgColorMain;

        @include desktop {
          margin: 0;
          padding: 0;
          transition: box-shadow 0.1s linear;
          background-color: none;

          .logo--mobile {
            display: none;
          }

          .logo--desktop {
            display: flex;
          }
        }

      }
    }

/*    .btn--logo {
      !* no button logo for mobile *!
      &:active {
        @include desktop {
          .logo__img {
            box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 1);
          }
        }
      }
    }*/

    .menu--mobile {
      display: block;

      @include desktop {
        display: none;
      }
    }

    .menu--desktop {
      display: none;

      @include desktop {
        display: flex;
      }
    }

    .side-menu {
      display: block;
      position: fixed;
      top: 15px;
      right: 3px;
      z-index: 0;
      @include desktop {
        display: none;
      }

      .side-menu__checkbox {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 28px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;

        &:checked ~ .first-bar {
          transform: translate(0px, 4.5px);
          background: #4d4d4d;
        }

        &:checked ~ .second-bar {
          transform: translate(0, 1.5px);
          background: #4d4d4d;
        }

        &:checked ~ .third-bar {
          transform: translate(0, -1.5px);
          background: #4d4d4d;
        }

        &:checked ~ .fourth-bar {
          transform: translate(0, -4.5px);
          background: #4d4d4d;
        }

        &:checked ~ .menu-list {
          transform: translate(0, 0);
          opacity: 1;
        }
      }

      .bar {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 4px;
        margin-left: 68px;
        background: $headerBgBtnActiveColor;
        z-index: 1;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 1s linear;
      }

      .menu-list {
        margin: 20px -4px 0 0;
        padding: 0 0 0 0;
        background-color: $headerBgColorMain;
        display: block;
        list-style-type: none;
        transform: translate(103%, 0);
        transition: transform 0.3s ease-in-out;

        a {
          font-family: "Varela Round", sans-serif;
          text-decoration: none;
          color: $headerBgBtnActiveColor;

          p {
            padding: 14px 10px;
            margin: 0;
            font-size: 22px;
            text-align: right;
            text-transform: uppercase;
          }

          &:hover {
            color: $contrastColor;
            p {
              background-color: $headerBgBtnActiveColor;
            }
          }
        }
      }
    }

    .top-menu {
      // only desktops
      @include desktop {
        align-items: stretch;
        background-color: $headerBgColorMain;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0;

        .menu__btn {
          align-items: stretch;
          background-color: $headerBgColorMain;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          .menu__link {
            align-items: center;
            background-color: $headerBgColorMain;
            color: $headerBgBtnActiveColor;
            display: flex;
            font-weight: bold;
            justify-content: center;
            letter-spacing: 0.2rem;
            text-decoration: none;
            text-transform: uppercase;
            width: 11rem;

            p {
              font-family: "Varela Round", sans-serif;
              font-size: 1.2rem;
              margin: 0;
              padding: 0;
            }

            &:hover {
              background-color: $headerBgBtnActiveColor;
              transition: background-color 0.4s ease-in-out;

              p {
                color: $headerBgColorMain;
              }
            }

            &:active {
              p {
                color: $contrastColor;
                transition: color 0.1s linear;
              }
            }
          }
        }
      }
    }
  } /* End of .nav  */
} /* End of .header */



