.header {
  align-items: stretch;
  background-color: #ffffff;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.75);
  display: flex;
  flex-wrap: wrap;
  height: 4rem;
  /* This dimension is crucial for entire menu */
  justify-content: flex-start;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;
  /* End of .nav  */ }
  .header .nav {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
    width: 90%;
    background-color: #ffffff;
    /*    .btn--logo {
          !* no button logo for mobile *!
          &:active {
            @include desktop {
              .logo__img {
                box-shadow: inset 3px 3px 7px 0 rgba(0, 0, 0, 1);
              }
            }
          }
        }*/ }
    .header .nav .logo--mobile {
      display: flex; }
      @media (min-width: 768px) {
        .header .nav .logo--mobile {
          display: none; } }
    .header .nav .logo--desktop {
      display: none; }
      @media (min-width: 768px) {
        .header .nav .logo--desktop {
          display: flex; } }
    .header .nav .logo {
      position: relative;
      align-items: flex-start;
      justify-content: center;
      background-color: #ffffff; }
      .header .nav .logo .logo__img--positive {
        display: none; }
      .header .nav .logo .logo__img--negative {
        display: block;
        background-color: blue; }
      @media (min-width: 768px) {
        .header .nav .logo:hover {
          box-shadow: 2px 0 8px 0 rgba(0, 0, 0, 0.75); }
          .header .nav .logo:hover .logo__img--positive {
            display: none; }
          .header .nav .logo:hover .logo__img--negative {
            display: block;
            background-color: green;
            transition: background-color 0.4s ease-in-out; } }
      .header .nav .logo .logo__img {
        height: 4rem;
        background-color: #ffffff; }
        @media (min-width: 768px) {
          .header .nav .logo .logo__img {
            margin: 0;
            padding: 0;
            transition: box-shadow 0.1s linear;
            background-color: none; }
            .header .nav .logo .logo__img .logo--mobile {
              display: none; }
            .header .nav .logo .logo__img .logo--desktop {
              display: flex; } }
    .header .nav .menu--mobile {
      display: block; }
      @media (min-width: 768px) {
        .header .nav .menu--mobile {
          display: none; } }
    .header .nav .menu--desktop {
      display: none; }
      @media (min-width: 768px) {
        .header .nav .menu--desktop {
          display: flex; } }
    .header .nav .side-menu {
      display: block;
      position: fixed;
      top: 15px;
      right: 3px;
      z-index: 0; }
      @media (min-width: 768px) {
        .header .nav .side-menu {
          display: none; } }
      .header .nav .side-menu .side-menu__checkbox {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 0;
        right: 28px;
        cursor: pointer;
        opacity: 0;
        z-index: 2; }
        .header .nav .side-menu .side-menu__checkbox:checked ~ .first-bar {
          transform: translate(0px, 4.5px);
          background: #4d4d4d; }
        .header .nav .side-menu .side-menu__checkbox:checked ~ .second-bar {
          transform: translate(0, 1.5px);
          background: #4d4d4d; }
        .header .nav .side-menu .side-menu__checkbox:checked ~ .third-bar {
          transform: translate(0, -1.5px);
          background: #4d4d4d; }
        .header .nav .side-menu .side-menu__checkbox:checked ~ .fourth-bar {
          transform: translate(0, -4.5px);
          background: #4d4d4d; }
        .header .nav .side-menu .side-menu__checkbox:checked ~ .menu-list {
          transform: translate(0, 0);
          opacity: 1; }
      .header .nav .side-menu .bar {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 4px;
        margin-left: 68px;
        background: #222222;
        z-index: 1;
        transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), color 1s linear; }
      .header .nav .side-menu .menu-list {
        margin: 20px -4px 0 0;
        padding: 0 0 0 0;
        background-color: #ffffff;
        display: block;
        list-style-type: none;
        transform: translate(103%, 0);
        transition: transform 0.3s ease-in-out; }
        .header .nav .side-menu .menu-list a {
          font-family: "Varela Round", sans-serif;
          text-decoration: none;
          color: #222222; }
          .header .nav .side-menu .menu-list a p {
            padding: 14px 10px;
            margin: 0;
            font-size: 22px;
            text-align: right;
            text-transform: uppercase; }
          .header .nav .side-menu .menu-list a:hover {
            color: #DC810E; }
            .header .nav .side-menu .menu-list a:hover p {
              background-color: #222222; }
    @media (min-width: 768px) {
      .header .nav .top-menu {
        align-items: stretch;
        background-color: #ffffff;
        justify-content: center;
        list-style-type: none;
        margin: 0;
        padding: 0; }
        .header .nav .top-menu .menu__btn {
          align-items: stretch;
          background-color: #ffffff;
          display: flex;
          flex-wrap: wrap;
          justify-content: center; }
          .header .nav .top-menu .menu__btn .menu__link {
            align-items: center;
            background-color: #ffffff;
            color: #222222;
            display: flex;
            font-weight: bold;
            justify-content: center;
            letter-spacing: 0.2rem;
            text-decoration: none;
            text-transform: uppercase;
            width: 11rem; }
            .header .nav .top-menu .menu__btn .menu__link p {
              font-family: "Varela Round", sans-serif;
              font-size: 1.2rem;
              margin: 0;
              padding: 0; }
            .header .nav .top-menu .menu__btn .menu__link:hover {
              background-color: #222222;
              transition: background-color 0.4s ease-in-out; }
              .header .nav .top-menu .menu__btn .menu__link:hover p {
                color: #ffffff; }
            .header .nav .top-menu .menu__btn .menu__link:active p {
              color: #DC810E;
              transition: color 0.1s linear; } }

/* End of .header */

/*# sourceMappingURL=header.css.map */
