@font-face {
  font-family: 'KGLifeisMessy';
  src: url('../fonts/KGLifeisMessy.ttf') format('truetype');
}

#section2 {
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../img/bricks.jpg);
  background-size: cover;
}

#section2 .clapper {
  height: 206px;
  width: 640px;
  background-image: url(../img/clapper.png);
  filter: drop-shadow(5px 5px 5px #222);
}

#section2 .board {
  height: 450px;
  width: 600px;
  background: url(../img/board.png);
  filter: drop-shadow(5px 5px 5px #222);
  font-family: 'KGLifeisMessy', sans-serif;
  color: white;
  text-transform: uppercase;
}

#section2 .board p {
  font-size: 1.6rem;
  text-align: center;
}

#section2 .board p:first-of-type {
  margin-top: 55px;
}

#section2 .form {
  margin: 30px 60px 60px 60px;
  text-align: center;
}

#section2 input[type="email"] {
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#section2 .form-button {
  padding: 5px;
  font-family: 'KGLifeisMessy', sans-serif;
  color: darkorange;
  background-color: transparent;
  border: 1px solid darkorange;
  border-radius: 5px;
}

#section2 .safeguard {
  list-style-type: none;
  font-size: 0.8rem;
  line-height: 1.5;
}

