@mixin medium {
  @media only screen and (min-width : 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width : 1280px) {
    @content;
  }
}

.section3 {
  background-color: #222222;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}

.team_title {
  font-family: 'Anton', sans-serif;
  color: white;
  letter-spacing: 4px;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 0.9;
}

.team_sub_title {
  font-size: 1.5rem;
  text-transform: lowercase;
  margin-top: -10px;
}

.container_section_3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  @include large {
    max-width: 1000px;
  }
}

.person {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Anton', sans-serif;
  padding: 20px;
}

.person>img {
  max-height: 130px;
  border-radius: 50%;
  box-shadow: 5px 5px 5px black;
  @include medium {
    max-height: 150px;
  }
}

.name {
  font-size: 2.2rem;
  letter-spacing: 4px;
  line-height: 0.7;
  margin: 0;
  color: #DC810E;
  text-transform: uppercase;
}

.homepage {
  @extend .name;
  font-size: 1.8rem;
}

.surname {
  font-size: 1.4rem;
  letter-spacing: 2px;
}

.social_media {
  padding-bottom: 10px;
  margin-top: -13px;
}

.social_media img {
  width: 40px;
  height: 40px;
  margin: 7px;
}