.hide {
  display: none;
}

@media screen and (max-width: 565px) {
  .section1 {
    align-items: center;
    background-color: #222222;
    color: white;
    display: flex;
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
}

@media screen and (max-width: 565px) {
  .flex-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    margin: 0;
    overflow: hidden;
    width: 100%;
  }
}

@media screen and (max-width: 565px) {
  .flex-item {
    background-color: #383838;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    min-width: 100%;
  }
}

@media screen and (max-width: 565px) {
  .flex-item-content {
    align-items: center;
    background-color: #383838;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    margin-left: 0;
    max-height: 225px;
    min-height: 225px;
    padding: 0.5%;
    text-align: center;
    width: 100%;
    p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 565px) {
  .section1 {
    align-items: center;
    background-color: #222222;
    color: white;
    display: flex;
    font-family: 'Varela Round', sans-serif;
    justify-content: center;
    overflow: visible;
    position: relative;
    width: 100%;
  }
}

@media screen and (min-width: 565px) {
  .flex-container {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    width: 100%;
  }
}

@media screen and (min-width: 565px) {
  .flex-item-content {
    align-items: center;
    background-color: #383838;
    display: flex;
    justify-content: center;
    min-height: 200px;
    padding: 0.5%;
    text-align: center;
    width: 100%;
    p {
      font-size: 1rem;
    }
  }
}

@media screen and (min-width: 565px) {
  .left,
  .right,
  .slider-nav {
    display: none;
  }
  .slide1 {
    margin-left: 0;
  }
}

@media screen and (min-width: 565px) and (max-width: 992px) {
  .flex-item {
    background-color: #383838;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 100%;
  }
}

@media screen and (min-width: 993px) {
  .flex-item {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5%;
    width: 23.5%;
  }
}

@media screen and (min-width: 1100px) {
  .hide {
    display: inline;
  }
}

.star {
  align-items: center;
  background-color: #DC810E;
  min-height: 100px;
  position: relative;

}

.section1-img {
  max-width: 25%;
}

.left {
  bottom: 0;
  left: 0;
  top: 0;
  text-align: right;
}

.right,
.left {
  position: absolute;
  width: 2.5rem;
  z-index: 25;
  visibility: visible;
}

.right {
  bottom: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.slider-nav {
  font-size: 2.5rem;
  height: 100vh;
  line-height: 36.5rem;
  margin: 0;
  transition-duration: 2s;
  visibility: visible;
}

.slider-nav:hover {
  background-color: rgba(12, 12, 12, 0.16);
  color: #383838;
  font-size: 2.5rem;
  margin: 0;
  width: 2.5rem;
  visibility: visible;
}

.blink {
  display: block;
  animation-iteration-count: 1;
  animation:
    tlo 500ms linear 0s  normal forwards;
  @keyframes tlo
  {
    0% { background-color:#FFF; }
    100% { background-color: #DC810E; }
  }
}