@mixin small {
  @media only screen and (min-width : 576px) {
    @content;
  }
}

@mixin medium {
  @media only screen and (min-width : 992px) {
    @content;
  }
}

@mixin large {
  @media only screen and (min-width : 1280px) {
    @content;
  }
}

@mixin transform($args...) {
  transform: $args;
  -webkit-transform: $args;
  -ms-transform: $args;
}

.section3 {
  background-color: #222222;
  flex-direction: column;
  a {
    text-decoration: none;
  }
}

.team_title {
  font-family: 'Anton', sans-serif;
  color: white;
  letter-spacing: 4px;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

.team_sub_title {
  font-size: 1.3rem;
  text-transform: lowercase;
  margin-top: -10px;
}

.container_section_3 {
  position: relative;
  width: 100%;
  @include large {
    max-width: 1000px;
  }
}

.person {
  float: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-family: 'Anton', sans-serif;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  @include small {
    width: 50%;
  }
  @include large {
    width: 25%;
  }
}

//.person>img {
//  max-height: 130px;
//  border-radius: 50%;
//  box-shadow: 5px 5px 5px black;
//  @include medium {
//    max-height: 150px;
//  }
//}

.name {
  font-size: 2rem;
  letter-spacing: 4px;
  line-height: 0.7;
  margin: 0;
  color: #DC810E;
  text-transform: uppercase;
}

.homepage {
  @extend .name;
  font-size: 1.5rem;
}

.surname {
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.social_media {
  padding-bottom: 10px;
  margin-top: -13px;
}

.social_media img {
  width: 30px;
  height: 30px;
  margin: 7px;
}

/* AVATARS ANIMATION */

.flip-container {
  perspective: 1000px;
}

.rotation
{
  @include transform (rotateY(180deg));
}

.flip-container {
  width: 130px;
  height: 130px;
  @include medium {
    width: 150px;
    height: 150px;
  }

  .flipper {
    transition: 1500ms;
    transform-style: preserve-3d;
    position: relative;
  }

  .front, .back {
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
  }

  .front {
    z-index: 2;
    transform: rotateY(0deg);
    & > img {
      max-height: 130px;
      border-radius: 50%;
      @include medium {
        max-height: 150px;
      }
    }
  }

  .back {
    transform: rotateY(180deg);
    & > img {
      max-height: 130px;
      border-radius: 50%;
      box-shadow: 5px 5px 5px black;
      @include medium {
        max-height: 150px;
      }
    }
  }
}