@media screen and (max-width: 565px) {
  .section1 {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    background-color: #222222;
    color: white;
    position: relative;
    width: 100%; } }
@media screen and (min-width: 565px) {
  .section1 {
    overflow: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Varela Round', sans-serif;
    background-color: #222222;
    color: white;
    position: relative;
    width: 100%; } }
@media screen and (max-width: 565px) {
  .flex-container {
    box-sizing: border-box;
    width: 100%;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    margin: 0;
    overflow: hidden; } }
@media screen and (min-width: 565px) {
  .flex-container {
    box-sizing: border-box;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    margin: 20px; } }
@media screen and (max-width: 565px) {
  .flex-item {
    min-width: 100%;
    max-width: 100%;
    background-color: #383838;
    display: flex;
    flex-direction: column;
    border-radius: 5%; } }
@media screen and (min-width: 565px) and (max-width: 992px) {
  .flex-item {
    width: 100%;
    margin-right: 5px;
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    background-color: #383838; } }
@media screen and (min-width: 993px) {
  .flex-item {
    margin: 0.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 23.5%; } }
@media screen and (max-width: 565px) {
  .flex-item-content {
    min-height: 225px;
    max-height: 225px;
    border-radius: 10px;
    text-align: center;
    padding: 0.5%;
    background-color: #383838;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0px; }
    .flex-item-content p {
      font-size: 1rem; } }
@media screen and (min-width: 565px) {
  .flex-item-content {
    text-align: center;
    padding: 0.5%;
    background-color: #383838;
    width: 100%;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .flex-item-content p {
      font-size: 1rem; } }
.star {
  min-height: 100px;
  align-items: center;
  background-color: #DC810E;
  position: relative; }

.section1-img {
  max-width: 25%; }

.left {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 25;
  text-align: right;
  visibility: visible; }

.right {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 50px;
  z-index: 25;
  visibility: visible; }

.slider-nav {
  vertical-align: middle;
  display: table-cell;
  height: 85vh;
  font-size: 50px;
  visibility: visible; }

.slider-nav:hover {
  color: #383838;
  background-color: rgba(12, 12, 12, 0.16);
  width: 50px;
  font-size: 50px;
  text-align: right;
  visibility: visible; }

@media screen and (min-width: 565px) {
  .left,
  .right,
  .slider-nav {
    visibility: hidden;
    display: none; }

  .slide1 {
    margin-left: 0; } }
@media screen and (max-width: 565px) {
  .s1head-title {
    display: none; }

  .s1head {
    display: none; } }

/*# sourceMappingURL=section1_res.css.map */
