
#section0 {
    background: url(../img/movie-918655_1280.jpg);
    height: 100vh;
    background-size: cover;
    font-family: 'Varela Round', sans-serif;
}

.welcome {
    position: relative;
    color: white;
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 20px;
}

.welcome a {
    text-decoration: none;
    color: #8c6640;
}

.main_p {
    font-size: 2rem;
    text-transform: uppercase;
}

.sec_p {
    font-size: 1.5rem;
}
