header {
    height: 50px;
}

nav {
    position: fixed;
    top:0;
    left: 10px;
    right: 10px;
    background-color: #383838;
    color: white;
}

nav ul {
    list-style-type: none;
}

nav li {
//display: block;
    float: right;
    padding: 10px;
}

li > a {
    text-decoration: none;
    display: block;
}

li > a:hover {
    background-color: aliceblue;
}
