/* Import indywidualnych plików CSS */
@import "helper.css";
@import "header.css";
@import "section0.css";
@import "section1.css";
@import "section2.css";
@import "section3.css";
@import "footer.css";


/* ostylowanie strony */

html, body {
    margin: 0;
    padding: 0;
}


/*  ----SEKCJE---- */

main {
    margin-top: 50px;
}

