/* Import indywidualnych plików CSS */
@import "header.css";
/*@import "section0.css";*/
@import "section0_res.css";
@import "section1_res.css";
@import "section2_res.css";
/*@import "section3.css";*/
@import "section3_res.css";

html,
body {
  margin: 0;
  padding: 0;
}

.anchor {
  padding-top: 4rem;
  margin-top: -4rem;
}

.main-margin {
  width: 100%;
}

@media only screen and (min-width: 576px) {
  .main-margin {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%
  }
}

@media only screen and (min-width: 769px) {
  .main-margin {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%
  }
}

.tape {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: #4d4d4d;
  background-image: url("../img/klisza_1.svg");
  background-repeat: repeat;
  background-size: contain;
  box-sizing: border-box;
}

.film-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 30px 120px 0;
  min-height: 80vh;
  width: 85%;
}

@media only screen and (max-width: 992px) {
  .film-frame {
    /*min-height: 60vh;*/
  }
}

@media only screen and (min-width: 1280px) {
  .film-frame {
    width: 87%;
  }
}

footer {
  height: 30px;
  background-color: #4d4d4d;
  width: 100%;
}